<!DOCTYPE html>
<html>
  <head>
    <title>GemDevise</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>

    <%= render "layouts/notice", notice_message: notice if notice %>
    <%= render "layouts/alert", alert_message: alert if alert %>

    <%= yield %>
  </body>
</html>
